<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
     body {  
    background-image: url('todo.png');  
}
</style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <title></title>
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
  </head>
  <body style="background-color: #E4F9F5; background-image: url('todoimg.jpg');">
    <center>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %> 
        <em><p class="py-2" style="color:#11999E ">Welcome to the Appointment Managing Application!!</p></em>
        <p class="py-2" style="color:#6B728E"><em>New here?</em> <a class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-2 py-2" href="/signup" class="text-green-600"> Sign-up now </a> </p>
        <p class="py-2 mt-2" style="color:#6B728E"><em>Already have an account? </em><a class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-2 py-2 mt-2" href="/login" class="text-green-600">Sign-in</a></p>  
      </div>
    </div>
  </center>
  </body>
</html>