<html>
  <head>
    <title>Edit Question | Online Voting Platform</title>
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="background-color: #E4F9F5;">
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <div class="pt-6">
          <b>
            <p class="text-black-600 mb-2 pb-3 " align="center"  style="color: #66BFBF;"><strong>Edit Appointment Detailes </strong></p>
          </b>
            <form
              method="post"
              action="/lists/<%=id%>/modify">
              <input type="hidden" name="_csrf" value="<%= csrf %>">
              <label for="firstname" style="color: #11999E;"><em>Event Name: </em></label>
              <div class="flex flex-col w-full mt-2">
                <input
                  type="text"
                  name="eventname"
                  playholder="write new eventname"
                  value="<%= eventname %>"
                  class="border-3 border-green-100 p-2 rounded-lg"
                />
              </div>
              <div class="flex justify-center items-center w-full gap-4">
                <button
                  type="submit"
                  class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-3 py-1 mt-3"
                >
                  Update
                </button>
                <a href="/list" type="reset"
                  class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-3 py-1 mt-3">
                  
                  Cancel
                </a>
              </div>
            </form>
        </div>
    </div>
  </div>
</div>
</body>
</html>